In [146]:

% pylab inline
import numpy as np
import pandas as pd
import math
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics imp..ort mean_squared_error, r2_score

Populating the interactive namespace from numpy and matplotlib

In [147]:
housing=pd.read_csv('housing.csv')

In [148]:
housing.shape

(20640, 10)

In [149]:
housing.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
median_house_value      0
dtype: int64

In [150]:
housing.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200
5,-122.25,37.85,52,919,213.0,413,193,4.0368,NEAR BAY,269700
6,-122.25,37.84,52,2535,489.0,1094,514,3.6591,NEAR BAY,299200
7,-122.25,37.84,52,3104,687.0,1157,647,3.1200,NEAR BAY,241400
8,-122.26,37.84,42,2555,665.0,1206,595,2.0804,NEAR BAY,226700
9,-122.25,37.84,52,3549,707.0,1551,714,3.6912,NEAR BAY,261100

In [151]:
le = LabelEncoder()

In [152]:
housing['ocean_proximity'] = le.fit_transform(housing['ocean_proximity'])

In [153]:
X = housing.drop('median_house_value', axis=1)
y = housing.median_house_value

In [154]:
housing['total_bedrooms'] = housing['total_bedrooms'].fillna(housing['total_bedrooms'].mean())

In [155]:
housing.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
ocean_proximity       0
median_house_value    0
dtype: int64

In [156]:
housing.ocean_proximity.value_counts()

0    9136
1    6551
4    2658
3    2290
2       5
Name: ocean_proximity, dtype: int64

In [157]:


from sklearn.preprocessing import LabelEncoder
cat_var =housing.dtypes.loc[housing.dtypes == 'object'].index
le =LabelEncoder()
for var in cat_var:
    housing[var] = le.fit_transform(housing[var])

In [158]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,3,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,3,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,3,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,3,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,3,342200

In [159]:
from sklearn import model_selection
xtrain,xtest,ytrain,ytest = model_selection.train_test_split(X,y,test_size=0.2,random_state=42)

In [160]:
lin = LinearRegression()

In [161]:
lin.fit(xtrain, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [162]:
ypredicted=lin.predict(xtrain)

In [163]:
rmse=(sqrt(mean_squared_error(ytrain,ypredicted)))
r2=r2_score(ytrain,ypredicted)

In [164]:
print('root mean squared error: ',rmse)
print('R2 score: ',r2)

root mean squared error:  69361.0714290645
R2 score:  0.6401079709888613

In [165]:
depv = 'median_house_value'
indepv = [x for x in housing.columns if x not in ['ID',depv]]

In [166]:
housing[depv]

0        452600
1        358500
2        352100
3        341300
4        342200
5        269700
6        299200
7        241400
8        226700
9        261100
10       281500
11       241800
12       213500
13       191300
14       159200
15       140000
16       152500
17       155500
18       158700
19       162900
20       147500
21       159800
22       113900
23        99700
24       132600
25       107500
26        93800
27       105500
28       108900
29       132000
          ...
20610     45500
20611     47000
20612     48300
20613     53400
20614     58000
20615     57500
20616     55100
20617     70800
20618     63400
20619     99100
20620    100000
20621     77500
20622     67000
20623     65500
20624     87200
20625     72000
20626     93800
20627    162500
20628     92400
20629    108300
20630    112000
20631    107200
20632    115600
20633     98300
20634    116800
20635     78100
20636     77100
20637     92300
20638     84700
20639     89400
Name: median_house_value, Length: 20640, dtype: int64

In [167]:
housing[indepv].head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,3
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,3
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,3
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,3
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,3

In [168]:
dtree_reg = DecisionTreeRegressor(max_depth=10)

In [169]:
dtree_reg.fit(xtrain, ytrain)

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [170]:
ypredicted=dtree_reg.predict(xtrain)

In [171]:
rmse =(sqrt(mean_squared_error(ytrain, ypredicted)))
r2 = r2_score(ytrain, ypredicted)

In [172]:
print('Root mean squared error: ', rmse)
print('R2 score: ', r2)

Root mean squared error:  45625.15348113964
R2 score:  0.8442782346526264

In [173]:
rforest_reg= RandomForestRegressor(max_depth=10)

In [174]:
rforest_reg.fit(xtrain,ytrain)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [175]:
ypredicted = rforest_reg.predict(xtrain)

In [178]:
rmse = (sqrt(mean_squared_error(ytrain, ypredicted)))
r2 = r2_score(ytrain, ypredicted)

In [179]:
print('Root mean squared error: ', rmse)
print('R2 score: ', r2)

Root mean squared error:  43156.1302540482
R2 score:  0.8606760970459509